body {
    text-align: center;
}

.cabecario {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    list-style-type: none;
    background-color: whitesmoke;
    display: block;
    text-align: initial;
}

.cabecario ul {
    position: fixed;
    display: inline-block;
    background-color:whitesmoke;
    width: 100vw;    
    text-align: left;
}

.cabecario li {
    float: left;
}

#inicio {
    margin-top: 70px;
}

.c1 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;

}

.c1:hover {
    color: #BC9077;
}

.c2 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.c2:hover {
    color: #BC9077;
}

.c3 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.c3:hover {
    color: #BC9077;
}

.c4 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.c4:hover {
    color: #BC9077;
}

.c5 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.c5:hover {
    color: #BC9077;
}

.c6 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.c6:hover {
    color: #BC9077;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 20px;
    font-weight: 700;
}

.ouca {
    border-top: solid;
    border-width: thin;
    border-color: #BC9077;
}

.paragrafo {
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.paragrafof {
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
}

.nomealbum {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

.imgs2 {
    width: 200px;
}

.albuns {
    display: inline-block;
    border: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    color: black;
    text-decoration: none
}

.albuns:hover {
    background-color: whitesmoke;
    color: #BC9077
}

.youtube {
    width:424;
    height: 238;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.poster {
    width: auto;
    height: 200px;
    margin-bottom: 20px;
    border: solid;
    border-color: #BC9077;
}

.poster:hover {
    border-color: whitesmoke;
}

.posterh {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    border: solid;
    border-color: #BC9077;
}

.posterh:hover {
    border-color: whitesmoke;
}

.icone {
    margin: 20px;
    color: #BC9077;
    text-decoration: none;
    font-size: 2em;
}

.icone:hover {
    color: black;
}